<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/game.css">
<section id="background">
    <section id="game-container" class="container">
        <section id="pause-menu">
            <h3 id="character-details-header">Character Details</h3>
            <div id="character-details" class="overflow-auto">
                <ul id="character-details-list"></ul>
            </div>
            <button id="save" class="pause-menu-btn">Save</button>
            <button id="save-and-exit" class="pause-menu-btn">Save & Exit</button>
            <button id="exit" class="pause-menu-btn">Exit</button>
        </section>
        <div id="spawn-1" class="spawn-point"></div>
        <div id="spawn-2" class="spawn-point"></div>
        <div id="spawn-3" class="spawn-point"></div>
        <section id="hud" class="row">
            <div id="action-menu" class="col-2">
                <header id="am-header">
                    Actions
                </header>
                <a id="am-btn-1" class="am-btn nes-pointer" href="#" role="button"></a>
                <a id="am-btn-2" class="am-btn nes-pointer" href="#" role="button"></a>
                <a id="am-btn-3" class="am-btn nes-pointer" href="#" role="button"></a>
                <a id="am-btn-4" class="am-btn nes-pointer" href="#" role="button"></a>
                <a id="pause-button" class="am-btn pause-btn" href="#" role="button">Menu</a>
            </div>
            <div id="story-box" class="col-10">
                    <ul id="data-storage"></ul>
                    <div id="active-spell" class="hidden"></div>
            </div>
        </section>
    </section>
</section>
<script type="module" src="/js/game.js"></script>