<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Gentium+Book+Plus:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/game.css">
<section id="game-container" class="container">
    <section id="pause-menu">
        <div id="character-details">Character Details</div>
        <button id="save" class="pause-menu-btn">Save</button>
        <button id="save-and-exit" class="pause-menu-btn">Save & Exit</button>
        <button id="exit" class="pause-menu-btn">Exit</button>
    </section>
    <section id="hud" class="row">
        <div id="action-menu" class="col-2">
            <header id="am-header">Actions Menu</header>
            <button id="am-btn-1" class="am-btn"></button>
            <button id="am-btn-2" class="am-btn"></button>
            <button id="am-btn-3" class="am-btn"></button>
            <button id="am-btn-4" class="am-btn"></button>
            <button id="am-btn-5" class="am-btn pause-btn">Menu</button>
        </div>
        <div id="story-box" class="col-10">
                <ul id="data-storage"></ul>
                <div id="active-spell" class="hidden"></div>
        </div>
    </section>
</section>

<script type="module" src="/js/game.js"></script>