<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Gentium+Book+Plus:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/home.css">

<section id="login" class="tavern row justify-content-between">
        <section class="box1 col-3">
                <h1 class="log-header">THE LOGS</h1>
                <section id="logs">
                        <ul>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                        </ul>
                </section>
        </section>
        <section class="box1 col-8">
                <h2>Character</h2>
                <section id="home-container" class="row d-flex justify-content-between">
                        <div id="div" class="col-5 d-flex justify-content-between">
                                <button><</button>
                                <img id="character-sprite" src="/assests/cute.jpeg" alt="">
                                <button>></button>
                        </div>
                        <ul id="character-traits" class="col-5">
                                <li>where character traits will go</li>
                        </ul>
                </section>
        </section>
                        <div class="d-flex justify-content-center">
                                <button id="game-btn" type="submit" class="btn btn-secondary">Start Your Adventure</button>
                        </div>
</section>

{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/startGame.js"></script>