    <link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />

<link rel="stylesheet" href="/css/home.css">

<section id="login" class="tavern row justify-content-between">
        <section id="log-container" class="col-3 home-box">
                <img id= "log-background" src="../assets/log-banner-pixel.png" alt="pixel-banner">
                <h1 class="log-header">JOURNAL</h1>
                <section id="logs">
                        <ul id="log-items">
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>

                        </ul>
                </section>
        </section>
        <section class="home-box col-8 blur border1">
                <h2>Character</h2>
                <section id="home-container" class="row d-flex justify-content-around">
                        <div id="div" class="col-5 d-flex justify-content-between">
                                <img id="character-sprite" src="/assets/character/main-character.png" alt="protagonist">
                        </div>
                        <div class="nes-container is-rounded" style="background-color:white;>
                        <ul id="character-traits" class="col-5 nes-list is-circle">
                                <li>where character traits will go</li>
                        </ul>
                        </div>
                </section>
        </section>
                        <div class="d-flex justify-content-center">
                                <button id="game-btn" type="submit" class="btn btn-secondary nes-btn is-error">Start Your Adventure</button>
                        </div>
</section>

{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/startGame.js"></script>