<section id="login" class="tavern row justify-content-between">
        <section class="box1 col-3">
                <h1>The logs</h1>
                <section id="logs">
                        <ul>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                        </ul>
                </section>
        </section>
        <section class="box1 col-8">
                <h1>Character</h1>
                <section id="home-container" class="row d-flex justify-content-between">
                        <div id="div" class="col-5 d-flex justify-content-between">
                                <button><</button>
                                <img id="character-sprite" src="/assests/cute.jpeg" alt="">
                                <button>></button>
                        </div>
                        <ul id="character-traits" class="col-5">
                                <li>where character traits will go</li>
                        </ul>
                </section>
        </section>
        <button id="game-btn">Start Your Next Adventure</button>
</section>

{{!-- <script src="/js/login.js"></script> --}}
<script src="/js/startGame.js"></script>