<link rel="stylesheet" href="/css/login.css">
<section id="login" class="tavern row justify-content-between">
        <section class="box1 col-3">
                <h1>The logs</h1>
                <section id="logs">
                        <ul>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                                <li>where the logs go</li>
                        </ul>
                </section>
        </section>
        <section class="box1 col-8">
                <h1>Login</h1>
                <form id="login-form" class="d-flex flex-column">
                        <input type="text" id="login-username" placeholder="username">
                        <input type="password" id="login-password" placeholder="password">
                        <button id="login-btn">Login</button>
                </form>
        </section>
</section>

<script src="/js/login.js"></script>