/* *{
        font-family: 'Dosis', sans-serif;
font-family: 'Gentium Book Plus', serif;
} */

h2 {
        text-align: center;
        color: #5EB1BF;
}
input {
        margin: 10px auto;
}

#signup-btn {
        width: 15%;
        margin: 0 auto;
}