@import "../../node_modules/nes.css/css/nes-core.min.css";

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
        scrollbar-width: auto;
        scrollbar-color: #f8b352 #422b21;
      }
    
      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 10px;
      }
    
      *::-webkit-scrollbar-track {
        background: #422b21;
      }
    
      *::-webkit-scrollbar-thumb {
        background-color: #f8b352;
        border-radius: 10px;
        border: 2px none #ffffff;
      }

:root{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.game-title{
        margin-left: 1%;
                letter-spacing: 1px;
}

.nav{
        margin: 0 5px;
        padding: 0 5px;
        font-size: 12px;
        letter-spacing: 1px;
}

.main-header {
        display:flex;
        justify-content: center;
        align-items: center;
        color:#F7D002;
}

#log-container{
        position: relative;
}

#log-background{
        position:absolute;
        height: 125%;
        width:150%;
        z-index: 0;
        left: -28%;
        top:-14%
}
#log-items{
        position: absolute;
        top: 25%;
        left: 10%;
        z-index: 2;
        color: black;
}

.log-header {
        position: absolute;
        left: 0; 
        right: 0; 
        top: 7.5%;
        text-align: center;
        margin-left: auto; 
        margin-right: auto; 
}

.tavern {
        width: 100vw;
        height: 90vh;
        border: solid black 1px;
        background-image:url("../assets/pixel-art-tavern-test.png");
        background-size: 110% 110%;
        padding-top:2%;
}

.tavern-header {
        height: 10vh;
        background: #7A542E;
}
ul {
        list-style-type: none;
        margin:0;
        padding:0 20%;
      }

.input-box {
        height: 85%;
        border-radius: 30px;
        margin: 20px;
        padding-top: 10%;
}
.input-box {
        height: 85%;
        border-radius: 30px;
        margin: 20px;
        padding-top: 10%;
}
.home-box {
        height: 85%;
        margin: 20px;
        padding-top: 2%;
}

.blur{
        background: rgba(31, 31, 31, 0.5);
        backdrop-filter: blur(10px);
}

#home-container {
        align-items: center;
        height: 95%;
}

#character-sprite {
        width: 200px;
        height: 250px;
}

#character-traits {
        display: flex;
        height: 95%;
}

#character-name{
        color: white;
}

.stats{
        width: 90%;
        justify-content: center;
}

.red-text{
        color: red
}
.yellow-text{
        color: #f8b352
}

.green-text{
        color: green
}
.blue-text{
        color: blue
}
