:root{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
        font-family: 'Gentium Book Plus', serif;
}

.main-header {
        display:flex;
        justify-content: center;
        align-items: center;
        color:#F7D002;
}

#log-container{
        position: relative;
}

#log-background{
        position:absolute;
        height: 125%;
        width:150%;
        z-index: 0;
        left: -28%;
        top:-14%
}
#log-items{
        position: absolute;
        top: 25%;
        left: 10%;
        z-index: 2;
        color: black;
}

.log-header {
        position: absolute;
        left: 0; 
        right: 0; 
        top: 7.5%;
        text-align: center;
        margin-left: auto; 
        margin-right: auto; 
}

.tavern {
        width: 100vw;
        height: 90vh;
        border: solid black 1px;
        background-image:url("../assets/pixel-art-tavern-test.png");
        background-size: 110% 110%;
        padding-top:2%;
}

.tavern-header {
        height: 10vh;
        background: #7A542E;
}
ul {
        list-style-type: none;
        margin:0;
        padding:0 20%;
      }

.box1 {
        height: 85%;
        border-radius: 30px;
        margin: 20px;
}

.border1{
        border: solid black 3px;
}

.blur{
        background: rgba(31, 31, 31, 0.5);
        backdrop-filter: blur(10px);
}

#home-container {
        align-items: center;
        border: solid blue 1px;
        height: 80%;
}

#div {
        border: solid saddlebrown 1px;
        margin-left: 30px;
}

#character-sprite {
        width: 200px;
        height: 250px;
        border: solid slateblue 1px;
}

#character-traits {
        border: solid salmon 1px;
        margin-right: 30px;
}

#game-btn {
        width: 15%;
        margin: 0 auto;
}

